# Core Django
Django==5.1.2

# Database drivers
mysqlclient==2.2.7
PyMySQL==1.1.1

# Static files management
whitenoise==6.8.2
django-cloudinary-storage==0.3.0
cloudinary==1.42.1

# Python utilities
argparse==1.4.0
decorator==5.1.1
colorama==0.4.6
requests==2.32.3
urllib3==2.2.1
idna==3.7
certifi==2024.2.2

# Security
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
cffi==1.16.0
cryptography==40.0.2

# Parsing and formatting utilities
MarkupSafe==2.1.5
Babel==2.15.0
soupsieve==2.5

# Date and time utilities
python-dateutil==2.9.0.post0
tzdata==2024.2

# Optional packages (Jupyter and Notebooks, if needed)
jupyter==1.0.0
notebook==7.2.1
jupyterlab==4.2.1
ipykernel==6.29.4
matplotlib-inline==0.1.7